<ul class="nav justify-content-center" style="margin: 2%">
  <li class="nav-item">
    <%= link_to t('analytics.navlinks.summary'), analytics_path, class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to t('analytics.navlinks.requests'), requests_analytics_path, class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to t('analytics.navlinks.agreements'), agreements_analytics_path, class: 'nav-link active' %>
  </li>
</ul>