<ul class="nav justify-content-center" style="margin: 2%">
  <li class="nav-item">
    <%= link_to 'Summary', analytics_path, class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Requests', requests_analytics_path, class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Agreements', agreements_analytics_path, class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Users', users_analytics_path, class: 'nav-link active' %>
  </li>
</ul>