<% if has_role?('acceptor') %>
    <li><%= link_to 'Agreements', agreements_path, class: 'nav-link'%></li>
    <li><%= link_to 'Requests', requests_path, class: 'nav-link'%></li>
<% end %>

<% if has_role?('technician') %>
    <li><%= link_to 'In Repair', in_repair_agreements_path, class: 'nav-link'%></li>
<% end %>

<% if has_role?('analyst') %>
    <li><%= link_to 'Analytics', analytics_path, class: 'nav-link'%></li>
<% end %>