<p id="notice"><%= notice %></p>

<h1>Editing Agreement</h1>

<%= render 'form', agreement: @agreement, request: @request %>

<%= link_to 'Show', @agreement %> |
<%= link_to 'Back', agreements_path %>
